{% extends 'base.html' %}
{% load static %}

{% block content %}
<!-- Main -->
<article id="main">
    <header>
        <h2>건축공사 실적</h2>
    </header>
    <section class="wrapper style5">

        <div class="inner">
            <h2 class="text-center">상세정보</h2>
            <hr />
            <div class="row">
                <div class="col-md-7">
                    
                        <div id="carouselExampleIndicators" class="carousel slide"
                            data-ride="carousel">
                            <ol class="carousel-indicators">
                                {% for photo in portfolio_image %}
                                <li data-target="#carouselExampleIndicators" data-slide-to="{{ forloop.counter|add:'-1' }}" class="{% if forloop.counter == 1 %} active {% endif %}"></li>
                                {% endfor %}
                            </ol>
                            <div class="carousel-inner embed-responsive embed-responsive-4by3">
                                {% for photo in portfolio_image %}
                                <div class="carousel-item {% if forloop.counter == 1 %} active {% endif %} embed-responsive-item">
                                    <img src={{ photo.image.url }} class="w-100" alt="">
                                </div>
                                {% endfor %}
                            </div>
                            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button"
                                data-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="sr-only">Previous</span>
                            </a>
                            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button"
                                data-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="sr-only">Next</span>
                            </a>
                        </div>

                </div>

                <div class="col-md-4">
                    <br>
                    <p><strong>건물유형</strong>&nbsp; &nbsp;{{ building_type }} </p>
                    <p><strong>이 름</strong> &nbsp; &nbsp; &nbsp; &nbsp; {{ portfolio_detail.title }}</p>
                    <p><strong>위 치</strong> &nbsp; &nbsp; &nbsp; &nbsp; {{ portfolio_detail.location }}</p>
                    <p><strong>서비스</strong> &nbsp; &nbsp; &nbsp; {{ portfolio_detail.service }}</p>
                    <p><strong>면 적</strong> &nbsp; &nbsp; &nbsp; &nbsp; {{ portfolio_detail.area }}</p><br><br>
                    <div class="row">
                        <div class="col-3"></div>
                        <div class="col-9">
                            <ul class="actions">
                                <a href="{% url 'portfolio:index' %}" class="button">목록보기</a>
                            </ul>
                        </div>
                        <!-- <div class="col-3"></div> -->
                    </div>
                </div>
            </div>
            <hr />
        </div>
    </section>
</article>
{% endblock content %}