{% extends 'base.html' %}
{% load static %}

{% block content %}
    <!-- Main -->
    <article id="main">
        <header>
            <h2>건축공사 실적</h2>
        </header>
        <section class="wrapper style5">
            <div class="inner">
                <hr />
                <div class="row">
                    <div class="col-md-7">
                        {% for photo in portfolio_image %}
                            <img class="img-fluid" src={{ photo.image.url }}>
                        {% endfor %}
                    </div>
                
                    <div class="col-md-4">
                        <br>
                        <p><strong>건물유형</strong>&nbsp; &nbsp;{{ building_type }} </p>
                        <p><strong>이 름</strong> &nbsp; &nbsp; &nbsp; &nbsp; {{ portfolio_detail.title }}</p>
                        <p><strong>위 치</strong> &nbsp; &nbsp; &nbsp; &nbsp; {{ portfolio_detail.location }}</p>
                        <p><strong>서비스</strong> &nbsp; &nbsp; &nbsp; {{ portfolio_detail.service }}</p>
                        <p><strong>면 적</strong> &nbsp; &nbsp; &nbsp; &nbsp; {{ portfolio_detail.area }}</p><br><br>
                        <div class="row">
                            <div class="col-3"></div>
                            <div class="col-9">
                                <ul class="actions">
                                    <a href="{% url 'portfolio:index' %}" class="button">목록보기</a>
                                </ul>
                            </div>
                            <!-- <div class="col-3"></div> -->
                        </div>
                    </div>
                </div>
                <hr />
            </div>
        </section>
    </article>
{% endblock content %}
    