{% extends 'base.html' %}
{% load static %}
{% block content %}
				<!-- Main -->
					<article id="main">
						<header>
							<h2>건축공사 실적</h2>
						</header>
						<section class="wrapper style5">
                            
                            <div class="container">
                                <!-- todo: 저장된 데이터 모두 불러와서 순서대로 배치 반복문 -->
                                <div class="row">
                                    <div class="col-6 col-12-medium">
                                        <ul class="actions">
                                            <li><a href="{% url 'portfolio:create' %}" class="button">글쓰기</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="row">
                                    {% for portfolio in portfolios %}
                                        <div class="col-xl-3 col-md-6 mb-4">
                                            <div class="card border-0 shadow">
                                                <a href="{% url 'portfolio:detail' portfolio.id%}">
                                                <!-- <img src="{% static 'portfolio/images/jaybuilding.png' %}" class="card-img-top" > -->
                                                <div class="card-body text-center">
                                                    <h5 class="card-title mb-0">{{ portfolio.title }}</h5>
                                                    <!-- <div class="card-text text-black-50">Web Developer</div> -->
                                                </div>
                                                </a>
                                            </div>
                                        </div>
                                    {% endfor %}

                                    <!-- {% for i in "x"|rjust:"10" %}
                                        <div class="col-xl-3 col-md-6 mb-4">
                                            <div class="card border-0 shadow">
                                                <a href="">
                                                <img src="{% static 'portfolio/images/jaybuilding.png' %}" class="card-img-top" >
                                                <div class="card-body text-center">
                                                    <h5 class="card-title mb-0">제이빌딩</h5>
                                                    <!-- <div class="card-text text-black-50">Web Developer</div> -->
                                                </div>
                                                </a>
                                            </div>
                                        </div>
                                    {% endfor %} -->

                                </div>
                            </div>
						</section>
					</article>
{% endblock content %}