{% extends 'base.html' %}
{% load static %}
{% block content %}
				<!-- Main -->
					<article id="main">
						<header>
							<h2>건축공사 실적</h2>
						</header>
						<section class="wrapper style5">
                            <div class="container">
                                <!-- todo: 저장된 데이터 모두 불러와서 순서대로 배치 반복문 -->
                                <div class="row">

                                    {% for i in "x"|rjust:"10" %}
                                        <div class="col-xl-3 col-md-6 mb-4">
                                            <div class="card border-0 shadow">
                                                <a href="">
                                                <img src="{% static 'portfolio/images/jaybuilding.png' %}" class="card-img-top" >
                                                <div class="card-body text-center">
                                                    <h5 class="card-title mb-0">제이빌딩</h5>
                                                    <!-- <div class="card-text text-black-50">Web Developer</div> -->
                                                </div>
                                                </a>
                                            </div>
                                        </div>
                                    {% endfor %}

                                </div>
                            </div>

							<div class="inner">
                                
                                <!-- <a href="{% url 'portfolio:create' %}">글쓰기</a> -->

								<!-- <h3>제이빌딩</h3>
                                <div class="box alt">
                                    <div class="row gtr-50 gtr-uniform">
                                        <div class="col-8"><span class="image fit"><img src="{% static 'portfolio/images/jaybuilding.png' %}" alt="" /></span></div>
                                    </div>
                                </div>
                                <p>Location : 서울특별시 강남구 논현동</p>
                                <p>Service : Construction</p>
                                <p>Area : 126㎡</p>
								<hr />

								<h3>기아자동차 전시장</h3>
                                <div class="box alt">
                                    <div class="row gtr-50 gtr-uniform">
                                        <div class="col-8"><span class="image fit"><img src="{% static 'portfolio/images/kia.png' %}" alt="" /></span></div>
                                    </div>
                                </div>
                                <p>Location : 인천광역시 용현동</p>
                                <p>Service : Construction</p>
                                <p>Area : 312㎡</p>
								<hr />

								<h3>리치프라자1</h3>
                                <div class="box alt">
                                    <div class="row gtr-50 gtr-uniform">
                                        <div class="col-8"><span class="image fit"><img src="{% static 'portfolio/images/rich1.jpg' %}" alt="" /></span></div>
                                    </div>
                                </div>
                                <p>Location : 광교신도시 영통구 이의동</p>
                                <p>Service : 시행사업</p>
                                <p>Area : 7960㎡</p>
								<hr />

                                <h3>리치프라자3</h3>
                                <div class="box alt">
                                    <div class="row gtr-50 gtr-uniform">
                                        <div class="col-8"><span class="image fit"><img src="{% static 'portfolio/images/rich3.jpg' %}" alt="" /></span></div>
                                    </div>
                                </div>
                                <p>Location : 광교신도시 영통구 이의동</p>
                                <p>Service : 시행사업</p>
                                <p>Area : 28703㎡</p>
								<hr />

                                <h3>제이빌딩</h3>
                                <div class="box alt">
                                    <div class="row gtr-50 gtr-uniform">
                                        <div class="col-8"><span class="image fit"><img src="{% static 'portfolio/images/wayatspace.png' %}" alt="" /></span></div>
                                    </div>
                                </div>
                                <p>Location : 서울특별시 강남구 테헤란로</p>
                                <p>Service : Design & Construction</p>
                                <p>Area : 360㎡</p>
								<hr />

                                <h3>다우실란트 공장 신축</h3>
                                <div class="box alt">
                                    <div class="row gtr-50 gtr-uniform">
                                        <div class="col-8"><span class="image fit"><img src="{% static 'portfolio/images/dawoosilant.png' %}" alt="" /></span></div>
                                    </div>
                                </div>
                                <p>Location : 화성시 마도면</p>
                                <p>Service : Design & Construction</p>
                                <p>Area : 1980㎡</p>
								<hr />

                                <h3>평택 근생 신축</h3>
                                <div class="box alt">
                                    <div class="row gtr-50 gtr-uniform">
                                        <div class="col-8"><span class="image fit"><img src="{% static 'portfolio/images/pyeongtaek1.png' %}" alt="" /></span></div>
                                    </div>
                                </div>
                                <p>Location : 평택시 고덕면</p>
                                <p>Service : Design & Construction</p>
                                <p>Area : 141㎡</p>
								<hr />

                                <h3>평택 근생 신축</h3>
                                <div class="box alt">
                                    <div class="row gtr-50 gtr-uniform">
                                        <div class="col-8"><span class="image fit"><img src="{% static 'portfolio/images/pyeongtaek2.png' %}" alt="" /></span></div>
                                    </div>
                                </div>
                                <p>Location : 평택시 고덕면</p>
                                <p>Service : Design & Construction</p>
                                <p>Area : 146㎡</p> -->
                                
							</div>
						</section>
					</article>
{% endblock content %}