{% extends 'base.html' %}
{% load static %}

{% block content %}
<!-- Banner -->
<section id="banner">
    <div class="inner">
        <h2><img src="{% static 'home/images/logo_letter.png' %}" alt=""></h2>
        <p>㈜일성종합건설은 최고의 서비스와 기술력으로 고객님께 감동을 드리겠습니다.
    </div>
    <a href="#one" class="more scrolly">더 보기</a>
</section>

<!-- One -->
<section id="one" class="wrapper style2 special">
    <div class="inner">
        <header class="major">
            <h2>Greeting</h2>
            <p>오늘의 ㈜일성종합건설이 있기까지 관심과 사랑으로 </p><br>
            <p>격려해 주시는 고객 여러분께 감사드립니다.</p>
            <a href="{% url 'introIndex' %}" class="button">more...</a>
        </header>
        <!-- <ul class="icons major">
            <li><span class="icon fa-gem major style1"><span class="label">Lorem</span></span></li>
            <li><span class="icon fa-heart major style2"><span class="label">Ipsum</span></span></li>
            <li><span class="icon solid fa-code major style3"><span class="label">Dolor</span></span></li>
        </ul> -->
    </div>
</section>

<!-- Two -->
<section id="two" class="wrapper alt style2">
    <section class="spotlight">
        <div class="image"><img src="{% static 'home/images/company.jpg' %}" alt="" /></div><div class="content">
            <h2>Company</h2>
            <p>㈜일성종합건설은 최고의 기술력으로 스마트 시티의 내일을 만들어 갑니다.</p>
            <a href="{% url 'introIndex' %}" class="button">more...</a>
        </div>
    </section>
    <section class="spotlight">
        <div class="image"><img src="{% static 'home/images/business.jpg' %}" alt="" /></div><div class="content">
            <h2>Business</h2>
            <p>건설과 엔지니어링, 건설사업관리(CM)까지 아우르는 ㈜일성종합건설입니다.</p>
            <a href="{% url 'introIndex' %}" class="button">more...</a>
        </div>
    </section>
    <section class="spotlight">
        <div class="image"><img src="{% static 'home/images/construct2.jpg' %}" alt="" /></div><div class="content">
            <h2>Portfolio</h2>
            <p>실적이 증명하는 ㈜일성종합건설의 기술력 지금 확인하세요.</p>
            <a href="{% url 'introIndex' %}" class="button">more...</a>
        </div>
    </section>
</section>


{% endblock content %}