{% extends 'base.html' %}
{% load static %}
{% block content %}
				<!-- Main -->
					<article id="main">
						<header>
							<h2>회사현황</h2>
						</header>
						<section class="wrapper style5">
							<div class="inner">

                                <!-- status -->
                                
								<hr />
                                <h2>회사 정보</h2><br>
                                <div class="row">
                                    <div class="col-10 col-12-medium">
                                        <ul class="alt">
                                            <li><strong>회 사 명</strong> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 일성종합건설 주식회사</li>
                                            <li><strong>소 재 지</strong> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 경기도 수원시 영통구 대학로 56, 602호(이의동, 리치프라자1)</li>
                                            <li><strong>대 표 자</strong> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 이 우 노</li>
                                            <li><strong>사업자번호</strong> &nbsp; &nbsp; &nbsp; &nbsp; 601-87-01614</li>
                                            <li><strong>법인등록번호</strong> &nbsp; &nbsp; &nbsp;135811-0384924</li>
                                            <li><strong>설립 연원일</strong> &nbsp; &nbsp; &nbsp; &nbsp;2020년 02월 11일</li>
                                            <li><strong>업 종</strong> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 건설</li>
                                            <li><strong>종 목</strong> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 건축공사</li>
                                            <li><strong>설립 자본금</strong> &nbsp; &nbsp; &nbsp; ￦400,000,000</li>
                                            <li><strong>건축면허</strong> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 건축공사업(제10-3428호)</li>
                                            <li><strong>공제조합좌수</strong> &nbsp; &nbsp; 94좌</li>
                                            <li><strong>연 락 처</strong> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 031-245-8800</li>
                                            <li><strong>팩 스</strong> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 031-245-8801</li>
                                        </ul>
                                    </div>
                                </div>
								<hr />

                                <!-- organization -->
                                <h2>조직도</h2>
                                <div class="box alt">
                                    <div class="row gtr-50 gtr-uniform">
                                        <div class="col-12"><span class="image fit"><img src="{% static 'company/images/organization1.png' %}" alt="" /></span></div>
                                    </div>
                                </div>
								<hr />

                                <!-- worker -->
                                <h2>기술 인력</h2><br>
                                <div class="row">
                                    <div class="col-10 col-12-medium">
                                        <ul class="alt">
                                            <li><strong>건 축 특 급</strong> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 1명</li>
                                            <li><strong>건 축 고 급</strong> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 4명</li>
                                            <li><strong>건 축 초 급</strong> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 4명</li>
                                        </ul>
                                    </div>
                                </div>
                                <!-- <div class="box alt">
                                    <div class="row gtr-50 gtr-uniform">
                                        <div class="col-10"><span class="image fit"><img src="{% static 'company/images/worker.png' %}" alt="" /></span></div>
                                    </div>
                                </div> -->
                                <hr />

							</div>
						</section>
					</article>
{% endblock content %}